.feedWrapper {
    width: 87.5%;
    margin: auto;
}
.feed {
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  /*justify-content: center;*/
  margin: auto;
  display: block;
  /*column-fill: auto;*/
  column-rule-width: 1px;
  /*column-count: 4;*/
  column-gap: 10px;
  column-width: 256px;
}
