.loginsignup-form-shell {
    width: 400px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loginsignup-form-outer-container {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);
    overflow: hidden;
    font-family: sans-serif;
}

.loginsignup-form-logo-container {
    height: 55px;
    width: 384px;
    margin: 30px auto 0;
    position: relative;
    /*background: blue;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginsignup-form-logo {
    height: 45px;
    width: 45px;
}

.loginsignup-form-inner-login-container {
    width: 100%;
    margin: 15px auto 0;
    /*background: green;*/
    overflow: hidden;
}

.loginsignup-form-login-welcome {
    width: 100%;
    height: 39px;
    color: #555;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -1.2px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    /*background: pink;*/
}

.login-catologofideas {
  margin:-10px 26px 30px;
  margin-top: 5px;
  Text-align:center;
  Font-weight:bold;
  Font-size:14px;
  color:#b5b5b5;

}

.loginsignup-form-login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto 0;
}

.loginsignup-form-login-form-username {
    width: 268px;
    height: 37px;
    background-color: rgb(240, 240, 240);
    border: 0px;
    -webkit-font-smoothing: antialiased;
    border-radius: 3px;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    font-size: 14px;
}

.loginsignup-form-login-form-password {
    width: 268px;
    height: 37px;
    background-color: rgb(240, 240, 240);
    border: 0px;
    -webkit-font-smoothing: antialiased;
    border-radius: 3px;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    font-size: 14px;
    outline: none;
    margin-top: 7px;
}

.loginsignup-form-login-form-submit {
    width: 268px;
    height: 36px;
    border: 0px;
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
    background-color: rgb(189, 8, 28);
    color: rgb(255, 255, 255);
}

.loginsignup-form-login-form-submit:hover {
    background-color: #d50c22
}

.loginsignup-form-login-noaccount-container {
    margin-top: 30px;
    margin-bottom: 20px;
    border-top: 1px solid rgb(239, 239, 239);
    width: 100%;
}

.loginsignup-form-login-noaccount {
    margin-top: 20px;
    color: rgb(33, 25, 34);
    font-size: 13px;
    text-align: center;
    /*-webkit-font-smoothing: antialiased;*/
}

.loginsignup-form-login-noaccount-link {
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-weight: bold;
    cursor: pointer;
}

.loginsignup-form-login-noaccount-link:hover {
    color: #8a8a8a;
}

.loginsignup-form-inner-signup-container {
    width: 100%;
    margin: 15px auto 0;
    /*background: green;*/
    overflow: hidden;
    /*display: none;*/
}

.loginsignup-form-signup-welcome {
    width: 100%;
    height: 39px;
    color: #555;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -1.2px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    /*background: pink;*/
}

.loginsignup-form-signup-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto 0;
}

.loginsignup-form-signup-form-firstname {
    width: 268px;
    height: 37px;
    background-color: rgb(240, 240, 240);
    border: 0px;
    -webkit-font-smoothing: antialiased;
    border-radius: 3px;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    font-size: 14px;
}

.loginsignup-form-signup-form-lastname {
    width: 268px;
    height: 37px;
    background-color: rgb(240, 240, 240);
    border: 0px;
    -webkit-font-smoothing: antialiased;
    border-radius: 3px;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    font-size: 14px;
        margin-top: 7px;

}

.loginsignup-form-signup-form-username {
    width: 268px;
    height: 37px;
    background-color: rgb(240, 240, 240);
    border: 0px;
    -webkit-font-smoothing: antialiased;
    border-radius: 3px;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    font-size: 14px;
        margin-top: 7px;

}

.loginsignup-form-signup-form-password {
    width: 268px;
    height: 37px;
    background-color: rgb(240, 240, 240);
    border: 0px;
    -webkit-font-smoothing: antialiased;
    border-radius: 3px;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    font-size: 14px;
    outline: none;
    margin-top: 7px;
}

.loginsignup-form-signup-form-submit {
    width: 268px;
    height: 36px;
    border: 0px;
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
    background-color: rgb(189, 8, 28);
    color: rgb(255, 255, 255);
}

.loginsignup-form-signup-form-submit:hover {
    background-color: #d50c22
}

.loginsignup-form-signup-existingaccount-container {
    margin-top: 30px;
    margin-bottom: 40px;
    border-top: 1px solid rgb(239, 239, 239);
    width: 100%;
}

.loginsignup-form-signup-existingaccount {
    margin-top: 10px;
    color: rgb(33, 25, 34);
    font-size: 13px;
    text-align: center;
    /*-webkit-font-smoothing: antialiased;*/
}

.loginsignup-form-signup-existingaccount-link {
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-weight: bold;
    cursor: pointer;
}

.loginsignup-form-signup-existingaccount-link:hover {
    color: #8a8a8a;
}
