@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');

.ModalBoard_wrapper {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  font-family: 'Open Sans', sans-serif;
  z-index: 751;
  position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ModalBoard_Box {
  width: 600px;
  background-color: #ffffff;
  position: fixed;
  border-radius: 6px;
  margin:  auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}


.ModalBoard_TopBox {
  max-height: 54.11px;
  border-bottom: 1px solid #dfdfdf;
}

.Modal_title {
   font-size: 20px;
  font-family: 'Open Sans', sans-serif;
   color: #333;
  margin-top: 15px;
  margin-bottom: 15px;
}

.ModalBoard_X {
  height: 12px;
  width: 12px;
  background: url(https://s.pinimg.com/webapp/style/images/webapp-common-main-1x-c20ceaff.png) -261px -242px no-repeat;
  float: right;
  cursor: pointer;
  margin: -6px;
    position: absolute;
    right: 26px;
    top: 33px;
}

.CreateBoard_CreateBroard  {
  height: 62.11px;
  font-size:16px;
  font-family: 'Open Sans', sans-serif;

}



.CreateBoard_Name{
  color: #5e5e5e;
  float:left;
  width: 140px;

}



.CreateBoard_Input {
  float: left;
  background-color: #f3f3f3;
    background: -webkit-linear-gradient(#f0f0f0, #f5f5f5);
    background: linear-gradient(#f0f0f0, #f5f5f5);
    box-sizing: border-box;
    width: 73%;
    border-radius: 3px;
    border: 1px solid #d6d3ce;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.12) inset;
    color: #5e5e5e;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.CreateBoard_Input:focus {
     background-color: #ffffff;
}


.ModalBoard_ButtonBox {
  height: 57.44px;
  font-size:16px;
  font-family: 'Open Sans', sans-serif;

}

.Buttons_Component {
  height: 37px;
  font-family: 'Open Sans', sans-serif;
  float: right;
}

.create_button{
  color: #fff;
  font-size: 16px;
  background-color: #bd081c;
   border: none;
    border-radius: 4px;
    box-shadow: none;
    padding: 10px 14px ;
    position: relative;
    text-shadow: none;

}

.cancel_button{
  color: #5e5e5e;
  font-size: 16px;
  background-color: #efefef;
   border: none;
    border-radius: 4px;
    box-shadow: none;
    padding: 10px 14px ;
    position: relative;
    text-shadow: none;
  margin-right: 5px;

}

.cancel_button:hover {
  background-color: #dbdbdb;
}

.create_button:hover {
  background-color: #a30718;
}


@media (max-width: 600px) {
  .ModalBoard_Box {
    width: auto;
    max-width:600px;
    height:250px;
  }
}
