.profile-container {
  width: 100%;
  min-height: calc(100vh - 73px);
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 73px);
}
.profile-side-margin {
  width: 800px;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.profile-nav {
  height: 63px;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  display: flex;
  align-items: center;

}
.profile-nut {
  height: 26px;
}
.profile-dotdotdot {
  width: 26px;
}
.profile-icon {
  height: 48px;
  width: 48px;
  padding: 0px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-profile-info {
  margin-top: 69px;
}
.profile-info-margin {
  display: flex;
  justify-content: space-between;
}
.profile-name {
  padding-left: 16px;
}

.profile-nameBold {
  font-weight: bold;
}

.profile-name h3 {
  color: #555;
  font-size: 40px;
  line-height: 42px;
  margin: 0px;
  letter-spacing: -1.25px;
  word-spacing: -2.25px;
}
.profile-profile-info-right {
  display: flex;
  flex-direction: row;
}
.profile-info-bio {
  margin: 24px 16px;
  width: 170px;
}
.profile-info-pic-container {
  margin: 12px 16px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-info-pic {
    width: 168px;
}
.profile-buttons {
  margin-top: 12px;
  padding: 6px 0px;
}
.profile-button {
  padding: 12px 16px;
  background: #FFFFFF;
  border: 0px;
  border-radius: 100px;
  color: #b5b5b5;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
}
.profile-button:hover {
  background: #efefef;
  color: #555;

}
.profile-button-boards {
  margin-left: 16px;
}
.profile-button-pins {
  padding: 12px 16px;
  margin-left: 8px;
}
.profile-boards-pins {
  margin: auto;
  width: 325px;
  display: flex;
  flex-flow: row wrap;
  z-index: 0;
}



@media (min-width: 650px) {
  .profile-boards-pins {
    width: 650px;
  }
}

@media (min-width: 975px) {
  .profile-boards-pins {
    width: 975px;
  }
}

@media (min-width: 1300px) {
  .profile-boards-pins {
    width: 1300px;
  }
}

@media (min-width: 1625px) {
  .profile-boards-pins {
    width: 1625px;
  }
}
