@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.selected-pin-body {
  background: #EEEEEE;
  position: fixed;
  height: 100%;
    top: 72px;
    bottom: 0;
    left: 0;
    right: 0;
  z-index: 751;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  padding-top: 40px;
}
.selected-pin-container {
  width: 630px;
  margin: auto;
  background: white;
  border-radius: 8px;
  padding-bottom: 15px;
  margin-bottom: 154px;
}
.selected-pin-header {
  display: block;
  background: white;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 16px 32px;
  margin: 0;
  transition: 0.2s padding ease;
  position: sticky;
    top: -40px;
  width: 100%;
  z-index: 15;
}
.selected-pin-view {
  margin: auto;
  margin-top: -px;
  margin-bottom: 20px;
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.selected-pin-img {
  margin: 0 auto;
  border-radius: 5px;
  width: 100%;
}
.selected-pin-info {
  display: flex;
  justify-content: space-between;

  margin: auto;
  /*margin-bottom: 20px;*/
  width: 95%;
  border-bottom: 1px solid #dfdfdf;
  margin-right: 20px;
}
.selected-pin-about {
  display: flex;
  width: 50%;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
}
.selected-pin-about-logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: black;
  margin-right: 15px;
}
.selected-pin-link {
  text-decoration: none;
}
.selected-pin-user-info {
  margin-left: 15px;
  display: flex;
  align-items: center;
  width: 95%;
  margin-top: 10px;
  border-bottom: 1px solid #dfdfdf;
  padding: 5px;
}
.selected-pin-control {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: left;
}
.selected-pin-control-button {
  border: none;
  background: white;
  margin-top: -5px;
  color: grey;
  height: 30px;
  width: 30px;
}


.selected-pin-control-button-dots {
  border: none;
  background: white;
  margin-top: 20px;
  color: grey;
  height: 30px;
  width: 30px;
  margin-bottom: -5px;
}
.selected-pin-control-button-close {
  background: none;
  border: none;
  position: fixed;
    top: 87px;
    right: 40px;
}

.selected-pin-control-button-close-mobile {
  background: none;
  border: none;
  position: absolute;
  display: none;
    top: 20px;
    right: 20px;
}
.selected-pin-control-button-img {
  height: 30px;
  width: 30px;
}
.selected-pin-save {
  background: #bd081c;
  color: #efefef;
  cursor: pointer;
  border: 0;
  box-shadow: none;
  height: 36px;
  width: 74px;
  display: block;
  float: right;
  font-size: 14px;
  border-radius: 4px;
  padding: 7px 8px;
  white-space: nowrap;
  margin-top: -5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.selected-pin-save-img {
  display: inline-block;
  fill: #fff;
  height: 25px;
  width: 15px;
  margin-right: 2px;
  position: relative;
  top: -3px;
  vertical-align: middle;
}
.selected-pin-info-visit {
  height: 35px;
  width: 60px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  font-weight: bold;
  margin-right: 20px;
  color: #5e5e5e;
}
.selected-pin-control-button:focus {
  outline: none;
}

.selected-pin-control-button-img-dots {
  width: 20px;
}

@media (max-width: 650px) {
  .selected-pin-container {
    width: 95%;
  }
  .selected-pin-control-button-img {
    height: 20px;
    width: 20px;
  }
  .selected-pin-header {
    position: sticky;
    top: 0;
  }
  .selected-pin-control-button-img-dots {
    width: 25px;
  }
}
@media (max-width: 799px) {
  .selected-pin-control-button-close {
    display: none;
  }
  .selected-pin-control-button-close-mobile {
    display: block;
  }
  .selected-pin-control-button-img-dots {
    width: 30px;
  }
}
