/*Red: #BD081C
Dark Gray: #B5B5B5
Light Gray: #EEEEEE
White: #FFFFFF*/
p {
  text-align: left;
}
button {
  cursor: pointer;
}
.feed {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

/*SINGLE PIN*/

.single-pin-outer-container {
  margin: 20px 4px;
  background: #FFFFFF;
  width: 256px;
  height: auto;
  padding: 10px;
  border-radius: 8px;
  cursor: zoom-in;
}
.single-pin-outer-container:hover {
  background: #EEEEEE;
}
.single-pin-inner-container {
  width: 100%;
  height: auto;
}
.single-pin-pic-container {
  width: 100%;
  border-radius: 8px;
  position: relative;
}
.single-pin-pic-container a {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #ffffff;
  font-size: 12px;
  display: none;
  cursor: pointer;
  z-index: 2;
}
.single-pin-outer-container:hover .single-pin-save,
.single-pin-outer-container:hover a{
  display: flex;
}

.single-pin-pic {
  width: 100%;
  background-color: #B5B5B5;
  border-radius: 8px;
  /*height: 200px;*/
  overflow: hidden;
}
.single-pin-pic-container:hover .dimOverlay {
  bottom: 3px;
  left: 0;
  right: 0;
  top: 0;
  background-color: RGBA(0, 0, 0, 0.15);
  border-radius: 8px;
  position: absolute;
  -webkit-transition: opacity .04s linear;
  transition: opacity .04s linear;
}
.single-pin-outer-container:hover .dimGradient {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.15);
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.3));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
  bottom: 3px;
  border-radius: 8px;
  height: 100px;
  left: 0;
  position: absolute;
  right: 0;
}
.dimGradient p {
  font-weight: lighter;
}
.dimGradient span {
  font-weight: normal;
}

.single-pin-save {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  color: #FFFFFF;
  background: #BD081C;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}
.single-pin-save-pin {
  width: 12px;
  overflow: hidden;
  margin: 0px 6px 0px 3px;
}
.single-pin-description-container {
  padding:6px 4px 0px 4px;
  width: 100%;
}
.single-pin-title {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: #444444;
  width: 60%;
  margin-bottom: 4px;
}
.single-pin-description {
  font-family: sans-serif;
  font-size: 12px;
  color: #333333;
  line-height: 14px;
  margin-bottom: 4px;
  width: 60%;
}
.single-pin-pinner-info {
  width: calc(100% - 8px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 4px;
  cursor: pointer;
  border-radius: 6px;
}
.single-pin-pinner-info:hover {
  background: #DDDDDD;
}
.single-pin-pinner-pic {
  height: 24px;
  width: 24px;
  min-width: 24px;
  border-radius: 12px;
  overflow: hidden;
  margin-right: 6px;
  background-color: #B5B5B5;
}
.single-pin-pinner-info-names {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.single-pin-pinner-info-names p {
  width: calc(100% - 10px);
  display: flex;
  justify-content: flex-start;
}
.single-pin-pinner-name {
  font-family: sans-serif;
  font-size: 11px;
  color: #555555;
  line-height: 12px;
  font-weight: bold;
}
.single-pin-board-name {
  font-family: sans-serif;
  font-size: 11px;
  color: #555555;
  line-height: 12px;
}
